.section1 {
    scroll-margin-top: 152;
    background: rgb(245, 240, 230);
    display: inline-block;
    width: 100;
}

.section2 {
    color:#ffffff;
    scroll-margin-top: 152;
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
    width: 100%;
    display: inline-block;
}

.section3 {
    scroll-margin-top: 152;
    background: rgb(245, 240, 230);
    width: 100%;
    display: inline-block;
}

li {
    overflow: hidden;
    float: left;
    font-size: 28;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #182b49;
    color: #ffffff;
}

.navbar {
    top: 0;
    position: sticky;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 400;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
    background-color: #182b49;
    max-height: 500;
    overflow: scroll;
    color: #ffffff;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
    background-color: #182b49;
    max-height: 500;
    overflow: scroll;
    color: #ffffff;
}

.item3 {
    grid-column: 3;
    grid-row: 1;
    background-color: #182b49;
    max-height: 500;
    overflow: scroll;
    color: #ffffff;
}

.item4 {
    grid-column: 4;
    grid-row: 1;
    background-color: #182b49;
    gap: 25;
    max-height: 500;
    overflow: scroll;
    color: #ffffff;
}

@media (max-width: 799px) {
    ul {
        display: none;
    }

    .logo {
        max-width: 75%;
    }

    h2 {
        font-size: 24;
    }

    p {
        font-size: 20;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .item1 {
        grid-column: 1;
        grid-row: 1;
        background-color: #182b49;
        max-height: 500;
        overflow: scroll;
        color: #ffffff;
    }

    .item2 {
        grid-column: 2;
        grid-row: 1;
        background-color: #182b49;
        max-height: 500;
        overflow: scroll;
        color: #ffffff;
    }
    
    .item3 {
        grid-column: 1;
        grid-row: 2;
        background-color: #182b49;
        max-height: 500;
        overflow: scroll;
        color: #ffffff;
    }
    
    .item4 {
        grid-column: 2;
        grid-row: 2;
        background-color: #182b49;
        gap: 25;
        max-height: 500;
        overflow: scroll;
        color: #ffffff;
    }

}